<!DOCTYPE html>
<html lang="en">
<head>
    <title>Render Submitter | Home </title>
    <link rel="shortcut icon" href="../favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/entry.css">
    <link rel="stylesheet" type="text/css" href="../static/css/landing.css">
    <link rel="stylesheet" type="text/css" href="../static/css/global.css">

    <script type="text/javascript" src="../eel.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
    <div class="container-fluid headerBlock">
        <div class="row">
            <div class="col">
                <img src="../static/imgs/logo-darkmode.png">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row mainTitleBlock">
            <h1 id="title"> New Render </h1>
        </div>

        <div hidden id="notificationWrapper" class="row notificationBlock">
            <div class="col" align="center">
                <div class="notificationCover">
                    <h1 id="notificationText"></h1>
                </div>
            </div>
        </div>

        <div class="row infoContainer center">
            <div class="col-3 sideMenu">
                <a onclick="handleTabSwitch(`basicSettings`)"><h3 id="basicSettingsSelect" class="selected">Basic
                    Settings</h3></a>
                <a onclick="handleTabSwitch(`outputSettings`)"><h3 id="outputSettingsSelect">Output Settings</h3></a>
                <a onclick="handleTabSwitch(`aaSettings`)"><h3 id="aaSettingsSelect">AA Settings</h3></a>
            </div>

            <div id="basicSettings" class="col infoPanel">
                <form id="basicSettingsForm">
                    <div class="row">
                        <div class="col">
                            <label for="name">Render Name</label><br>
                            <input type="text" id="name" name="name"><br>
                            <label for="project_path">Project Path</label><br>
                            <input type="text" id="project_path" name="project_path"><br>
                            <label for="sequence_path">Sequence Path</label><br>
                            <input type="text" id="sequence_path" name="sequence_path"><br>
                        </div>
                        <div class="col">
                            <label for="worker">Render Worker</label><br>
                            <select id="worker" name="worker"></select><br>
                            <label for="level_path">Level Path</label><br>
                            <input type="text" id="level_path" name="level_path"><br>
                            <label for="config_path">Config Path</label><br>
                            <input type="text" id="config_path" name="config_path"><br>
                        </div>
                    </div>
                </form>
            </div>

            <div hidden id="outputSettings" class="col infoPanel">
                <form id="outputSettingsForm">
                    <div class="row">
                        <div class="col">
                            <input type="checkbox" id="outputPathFlag" name="outputPathFlag"
                                   onchange='changeCheckBox("outputPath")'>
                            <label for="outputPath">Output Path</label><br>
                            <input type="text" id="outputPath" name="output_path" disabled><br><br>

                            <input type="checkbox" id="outputResolutionXFlag" name="outputResolutionXFlag"
                                   onchange='changeCheckBox("outputResolutionX")'>
                            <label for="outputResolutionX">Resolution X</label><br>
                            <input type="number" id="outputResolutionX" name="outputResolutionX" disabled><br><br>

                            <input type="checkbox" id="outputResolutionYFlag" name="outputResolutionYFlag"
                                   onchange='changeCheckBox("outputResolutionY")'>
                            <label for="outputResolutionY">Resolution Y</label><br>
                            <input type="number" id="outputResolutionY" name="outputResolutionY" disabled><br><br>

                            <input type="checkbox" id="zeroPadFrameNumbersFlag" name="zeroPadFrameNumbersFlag"
                                   onchange='changeCheckBox("zeroPadFrameNumbers")'>
                            <label for="zeroPadFrameNumbers">Zero Pad Frame Numbers</label><br>
                            <input type="number" id="zeroPadFrameNumbers" name="zeroPadFrameNumbers" disabled><br><br>

                            <input type="checkbox" id="handleFrameCountFlag" name="handleFrameCountFlag"
                                   onchange='changeCheckBox("handleFrameCount")'>
                            <label for="handleFrameCount">Handle Frame Count</label><br>
                            <input type="number" id="handleFrameCount" name="handleFrameCount" disabled><br><br>

                            <input type="checkbox" id="useCustomPlaybackRangeFlag" name="useCustomPlaybackRangeFlag"
                                   onchange='changeCheckBox("useCustomPlaybackRange", "playback")'>
                            <label for="useCustomPlaybackRange">Use Custom Playback Range</label><br>
                            <select id="useCustomPlaybackRange" name="useCustomPlaybackRange" disabled
                                    onchange='toggleValue(event, "playback", "customStartFrame;customEndFrame")'>
                                <option value="False">False</option>
                                <option value="True">True</option>
                            </select><br><br>
                            <div hidden id="playback">
                                <input type="checkbox" id="customStartFrameFlag" name="customStartFrameFlag"
                                       onchange='changeCheckBox("customStartFrame")'>
                                <label for="customStartFrame">Custom Start Frame</label><br>
                                <input type="number" id="customStartFrame" name="customStartFrame" disabled><br><br>
                                <input type="checkbox" id="customEndFrameFlag" name="customEndFrameFlag"
                                       onchange='changeCheckBox("customEndFrame")'>
                                <label for="customEndFrame">Custom End Frame</label><br>
                                <input type="number" id="customEndFrame" name="customEndFrame" disabled><br><br>
                            </div>
                        </div>
                        <div class="col">
                            <input type="checkbox" id="fileFormatFlag" name="fileFormatFlag"
                                   onchange='changeCheckBox("fileFormat")'>
                            <label for="fileFormat">File Format</label><br>
                            <input type="text" id="fileFormat" name="fileFormat" disabled><br><br>

                            <input type="checkbox" id="useCustomFrameRateFlag" name="useCustomFrameRateFlag"
                                   onchange='changeCheckBox("useCustomFrameRate", "frameRate")'>
                            <label for="useCustomFrameRate">Use Custom Frame Rate</label><br>
                            <select id="useCustomFrameRate" name="useCustomFrameRate" disabled
                                    onchange='toggleValue(event, "frameRate")'>
                                <option value="False">False</option>
                                <option value="True">True</option>
                            </select><br><br>
                            <div hidden id="frameRate">
                                <input type="checkbox" id="outputFrameRateFlag" name="outputFrameRateFlag"
                                       onchange='changeCheckBox("outputFrameRate")'>
                                <label for="outputFrameRate">Output Frame Rate</label><br>
                                <input type="number" id="outputFrameRate" name="outputFrameRate" disabled><br><br>
                            </div>

                            <input type="checkbox" id="overrideExistingOutputFlag" name="overrideExistingOutputFlag"
                                   onchange='changeCheckBox("overrideExistingOutput")'>
                            <label for="overrideExistingOutput">Override Existing Output</label><br>
                            <input type="text" id="overrideExistingOutput" name="overrideExistingOutput" disabled><br><br>

                            <input type="checkbox" id="frameNumberOutputFlag" name="frameNumberOutputFlag"
                                   onchange='changeCheckBox("frameNumberOutput")'>
                            <label for="frameNumberOutput">Frame Number Offset</label><br>
                            <input type="number" id="frameNumberOutput" name="frameNumberOutput" disabled><br><br>

                            <input type="checkbox" id="outputFrameStepFlag" name="outputFrameStepFlag"
                                   onchange='changeCheckBox("outputFrameStep")'>
                            <label for="outputFrameStep">Output Frame Step</label><br>
                            <input type="number" id="outputFrameStep" name="outputFrameStep" disabled><br><br>

                            <input type="checkbox" id="autoVersionFlag" name="autoVersionFlag"
                                   onchange='changeCheckBox("autoVersion", "version")'>
                            <label for="autoVersion">Auto Versioning</label><br>
                            <select id="autoVersion" name="autoVersion" disabled
                                    onchange='toggleValue(event, "version")'>
                                <option value="False">False</option>
                                <option value="True">True</option>
                            </select><br><br>
                            <div hidden id="version">
                                <input type="checkbox" id="versionNumberFlag" name="versionNumberFlag"
                                       onchange='changeCheckBox("versionNumber")'>
                                <label for="versionNumber">Version Number</label><br>
                                <input type="number" id="versionNumber" name="versionNumber" disabled><br><br>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div hidden id="aaSettings" class="col infoPanel">
                <form id="aaSettingsForm">
                    <div class="row">
                        <div class="col">
                            <input type="checkbox" id="spatialSampleCountFlag" name="spatialSampleCountFlag"
                                   onchange='changeCheckBox("spatialSampleCount")'>
                            <label for="spatialSampleCount">Spatial Sample Count</label><br>
                            <input type="number" id="spatialSampleCount" name="spatialSampleCount" disabled><br><br>

                            <input type="checkbox" id="renderWarmUpFramesFlag" name="renderWarmUpFramesFlag"
                                   onchange='changeCheckBox("renderWarmUpFrames",)'>
                            <label for="renderWarmUpFrames">Render Warm Up Frames</label><br>
                            <select id="renderWarmUpFrames" name="renderWarmUpFrames" disabled
                                    onchange='toggleValue(event)'>
                                <option value="False">False</option>
                                <option value="True">True</option>
                            </select><br><br>


                            <input type="checkbox" id="overrideAAFlag" name="overrideAAFlag"
                                   onchange='changeCheckBox("overrideAA", "aa")'>
                            <label for="overrideAA">Override Anti-Aliasing Method</label><br>
                            <select id="overrideAA" name="overrideAA" disabled
                                    onchange='toggleValue(event, "aa")'>
                                <option value="False">False</option>
                                <option value="True">True</option>
                            </select><br><br>
                            <div hidden id="aa">
                                <input type="checkbox" id="aaMethodFlag" name="aaMethodFlag"
                                       onchange='changeCheckBox("aaMethod")'>
                                <label for="aaMethod">Anti-Aliasing Method</label><br>
                                <input type="text" id="aaMethod" name="aaMethod" disabled><br><br>
                            </div>
                        </div>
                        <div class="col">
                            <input type="checkbox" id="temporalSampleCountFlag" name="temporalSampleCountFlag"
                                   onchange='changeCheckBox("temporalSampleCount")'>
                            <label for="temporalSampleCount">Temporal Sample Count</label><br>
                            <input type="number" id="temporalSampleCount" name="temporalSampleCount" disabled><br><br>

                            <input type="checkbox" id="renderWarmUpCountFlag" name="renderWarmUpCountFlag"
                                   onchange='changeCheckBox("renderWarmUpCount")'>
                            <label for="renderWarmUpCount">Render Warm Up Count</label><br>
                            <input type="number" id="renderWarmUpCount" name="renderWarmUpCount" disabled><br><br>

                            <input type="checkbox" id="useCameraCutForWarmUpFlag" name="useCameraCutForWarmUpFlag"
                                   onchange='invertedChangeCheckBox("useCameraCutForWarmUp", "engineWarmUp")'>
                            <label for="useCameraCutForWarmUp">Use Camera Cut For Warm Up</label><br>
                            <select id="useCameraCutForWarmUp" name="useCameraCutForWarmUp" disabled
                                    onchange='invertedToggleValue(event, "engineWarmUp")'>
                                <option value="False">False</option>
                                <option value="True">True</option>
                            </select><br><br>
                            <div id="engineWarmUp">
                                <input type="checkbox" id="engineWarmUpCountFlag" name="engineWarmUpCountFlag"
                                       onchange='changeCheckBox("engineWarmUpCount")'>
                                <label for="engineWarmUpCount">Engine Warm Up Count</label><br>
                                <input type="text" id="engineWarmUpCount" name="engineWarmUpCount" disabled><br><br>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <div class="row buttonBlock">
            <div id="newRenderBtn" class="col" align="center">
                <div class="leftPadding buttonCover">
                    <a href="landing.html"> Back </a>
                </div>
            </div>
            <div id="retryBtn" class="col" align="center">
                <div class="rightPadding buttonCover">
                    <a href="#" onclick="submitForm()"> Submit Request </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid footer">
        <h5> Copyright &copy; 2023 Algorithm.ie | All Rights Reserved </h5>
    </div>
    <script src="../static/js/fetcherUtils.js"></script>
    <script src="../static/js/dataUtils.js"></script>
    <script src="../static/js/documentUtils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        eel.getWorkers()(setWorkers)
    </script>
</body>
</html>