@font-face {
    font-family: "GT Pressura Typeface Normal";
    src: url("../fonts/gt-pressura-mono-regular.ttf");
}

body {
    padding: 3%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'GT Pressura Typeface Normal';
    background-color: #000000;
    color: #cdd2ce;
}

.headerBlock {
    padding-bottom: 5%;
}

.headerBlock img {
    width: 15%;
}

.footer {
    margin-top: auto;
    border-top: 1.5px solid #c8c8c8;
    font-family: 'GT Pressura Typeface Normal';
    color: #cdd2ce;
}

.footer h5 {
    padding-top: 1%;
    font-style: italic;
}

.mainTitleBlock {
    padding-bottom: 2.5%;
    text-align: center;
    font-family: 'GT Pressura Typeface Normal';
}

.mainTitleBlock h1 {
    font-weight: 1000;
    color: #cdd2ce;
    font-size: 60px;
}

.buttonBlock {
    padding-bottom: 7.5%;
    font-family: 'GT Pressura Typeface Normal';
    margin-left: 0;
    margin-right: 0;
}

.buttonBlock .leftPadding {
    margin-right: -25%;
}
.buttonBlock .rightPadding {
    margin-left: -25%;
}

.buttonBlock .buttonCover {
    border: 1.5px solid #c8c8c8;
    border-radius: 15px;
    width: 30%;
    height: 150%;
    line-height: 150%;
    display:flex;
    justify-content:center;
    align-items:center;
	box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
	transition: all 0.3s ease-in-out;
}

.buttonBlock .buttonCover:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.buttonBlock .buttonCover img {
    width: 25%;
    padding-right: 5%;
}

.buttonBlock .buttonCover a {
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    font-weight: 1000;
    color: #c8c8c8;
    font-size: 25px;
    text-decoration: none;
}

.buttonBlock .buttonCover:hover a {
    color: #dcdfdc;
}

.switchBlock {
    text-align: right;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333333;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #dcdfdc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #dcdfdc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}