<!DOCTYPE html>
<html lang="en">
<head>
    <title>Render Tracker - Render Queue</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href= {{url_for('static', filename="global.css")}}>
    <link rel="stylesheet" type="text/css" href= {{url_for('static', filename="table.css")}}>

    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
    <div class="container-fluid headerBlock">
        <div class="row">
            <img src="../static/imgs/logo.png">
        </div>
    </div>

    <div class="container-fluid">
        <div class="row mainTitleBlock">
            <h1> Ongoing Renders </h1>
        </div>

        <div class="row tableBlock">
            <div class="col" align="center">
                <table id = "table" align="center" border="1px"></table>
            </div>
        </div>

        <div class="row buttonBlock">
            <div class="col leftPadding" align="center">
                <div class="buttonCover">
                    <a href="/"> Back Home </a>
                </div>
            </div>
            <div class="col rightPadding" align="center">
                <div class="buttonCover">
                    <a href=""> Archive Renders </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid footer">
        <h5> Copyright &copy; 2023 Algorithm.ie | All Rights Reserved </h5>
    </div>

    <script src = {{url_for('static', filename="updateProgress.js")}}></script>
    <script src = {{url_for('static', filename="createTable.js")}}></script>
    <script>
        createTable( {{requests|tojson|safe}} );
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>