<!DOCTYPE HTML>
<html lang="en">

<head>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href= {{url_for('static', filename="main.css")}}>
    <title>Render Queue</title>
</head>

<body style = "text-align:center;">
    <table id = "table" align = "center" border="1px"></table>

    <script src = {{url_for('static', filename="updateProgress.js")}}></script>

    <script src = {{url_for('static', filename="createTable.js")}}></script>
    <script>
        createTable( {{requests|tojson|safe}} );
    </script>
</body>

</html>